
@font-face {
    font-family: 'BeautifulPeople';
    src: url("../webfonts/BeautifulPeoplePersonalUse-dE0g.woff2") format("woff2");

}




@font-face {
    font-family: 'Boldonse';
    src: url("../webfonts/Boldonse-Regular.woff2") format("woff2");

}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


h1{
    font-size: 5rem;
    font-weight: bold;
}


p{
    font-size: 2rem;
}

button{
    height: 5rem;
    width: 13rem;
    background-color: blue;
}

button:hover{
    background-color: green;

}

.c-font{
    font-family: 'BeautifulPeople', sans-serif;
    font-size: 3rem;
    
}



.main-font{
    font-family: 'Boldonse', sans-serif;
    font-size: 4rem;
    
}
