.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


h1{
    font-size: 5rem;
    font-weight: bold;
}


p{
    font-size: 2rem;
}

button{
    height: 5rem;
    width: 13rem;
    background-color: blue;
}

button:hover{
    background-color: green;

}


